.Calendar {
  grid-area: 1/2/2/3;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  thead {
    background-color: #fff;
    height: 1rem;
  }
  tr {
    td {
    }
  }
}

.Calendar > thead > tr:first-child > td {
  font-weight: bold;
}

.Calendar > thead > tr:last-child > td {
  background-color: gray;
  color: white;
}

.pastDay {
  background-color: lightgray;
}

.today {
  background-color: #ffca64;
  cursor: pointer;
}

.futureDay {
  background-color: #ffffff;
  cursor: pointer;
}

.futureDay.choiceDay,
.today.choiceDay {
  background-color: #3e85ef;
  color: #fff;
  cursor: pointer;
}
